<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a81418.myapp1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 自动聚焦权限 -->
    <!-- <application -->
    <!-- android:name=".utils.MyApplication" -->
    <!-- android:allowBackup="true" -->
    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:label="@string/app_name" -->
    <!-- android:supportsRtl="true" -->
    <!-- android:theme="@style/AppTheme"> -->
    <!-- </application> -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/zsxy"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Register" />
        <activity android:name=".Activities.ResetPaswd" />
        <activity android:name=".Activities.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DrawerMenu"
            android:theme="@style/Themenodonghua"></activity>
        <activity android:name=".Activities.SetUserInfo" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.a81418.myapp1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".Activities.SubmitOrder" />
        <activity
            android:name=".Activities.SocketClient"
            android:label="@string/title_activity_socket_client"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.AllUserOrder" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity
            android:name=".Activities.TeacherFaqiqiandao"
            android:label="@string/title_activity_teacher_faqiqiandao"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.CheckInInfo"></activity>
    </application>

</manifest>